{% extends "base.html" %}
{% block head_title %}Sobre mi{% endblock head_title %}
{% block header_h1 %}Sobre mi{% endblock header_h1 %}

{% block main %}
<div>
    <p>
        Soy Rodrigo Lezama 
    Desarrollador Full-Stack
    </p>

    <p>
        Originario de Argentina, específicamente de la Ciudad de Buenos Aires, tengo 32 años. Aunque me he especializado en el desarrollo full-stack, siento una pasión especial por el front-end.
    </p>

<p>Mis tecnologías favoritas son:</p>

<ul>
    <li>JavaScript</li>
<li>React</li>
<li>Tailwind</li>
<li>Astro</li>
<li>NextJS</li>
</ul>


<p>Además de programar, una de mis actividades favoritas es el Levantamiento Olímpico de pesas. Mi aspiración es competir algún día en este deporte 🏋️‍♂️</p>
</div>

{% endblock main %}