{% extends "base.html" %}
 {% block head_title %}Productos{% endblock head_title%} 
 {% block header_h1 %}Productos{% endblock header_h1 %} 
 {%block main%} {% if productos %}
 <form action="" method="get">
    {% csrf_token %}
    <label for="search">Productos: </label>
    <input type="text" name="search" >
    <input type="submit" value="Buscar">
 </form>
 <a href="{% url 'crear_producto' %}"><button>Crear producto</button></a>
<ul>    
  {% for producto in productos %}
  <li>{{producto.title}} - ${{producto.price}} | <a href={% url 'editar_producto' producto.id %}>Editar</a> | <a href={% url 'eliminar_producto' producto.id %}>Eliminar</a> | <a href={% url 'detalle_producto' producto.id %}>Ver detalles</a> </li>
  {% endfor %}
</ul>
{% else %}
<p>No hay productos creados o el producto buscado no existe</p>
{% endif %}
 {% endblock main %}
